@import url('https://fonts.googleapis.com/css2?family=Gabarito&family=Luckiest+Guy&family=Macondo&family=Mukta:wght@200&family=Noto+Sans+JP:wght@300&family=Pixelify+Sans&family=Poppins:wght@400;500&family=Rubik:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    text-decoration: none;
}



body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5rem;
    transition: 0.5s ease;
    height: 6rem;
}

header .brand .logo {
    width: 12rem;
}

header .navigation {
    position: relative;
}

header .navigation .navigation-items a {
    position: relative;
    color: #fff;
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    margin-left: 30px;
    transition: 0.3s ease;
}

header .navigation .navigation-items a:before {
    content: '';
    position: absolute;
    background: #fff;
    width: 0;
    height: 3px;
    bottom: -5px;
    left: 0;
    transition: 0.3s ease;
}

header .navigation .navigation-items a:hover:before {
    width: 100%;
    transform: scale(1.1);
}

section {
    padding: 100px 200px;
    flex: 1;
}

.home {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #2696E9;
}

.home:before {
    z-index: 777;
    content: '';
    position: absolute;
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.home .content {
    z-index: 888;
    color: #fff;
    width: 70%;
    margin-top: 50px;
    display: none;
}

.home .content.active {
    display: block;
}

.home .content h1 {
    font-size: 3rem;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 75px;
    margin-bottom: 40px;
}

.home .content h1 span {
    font-size: 1.2em;
    font-weight: 600;
}

.home .content p {
    font-size: 14px;
    margin-bottom: 65px;
}

.home .content a {
    background: #fff;
    padding: 15px 35px;
    color: #1680ac;
    font-size: 1.1em;
    font-weight: 500;
    text-decoration: none;
    border-radius: 2px;
}

.home img {
    z-index: 000;
    position: absolute;
    top: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider-navigation {
    z-index: 888;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(80px);
    margin-bottom: 12px;
}

.slider-navigation .nav-btn {
    width: 12px;
    height: 12px;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
    transition: 0.3s ease;
}

.slider-navigation .nav-btn.active {
    background: #4acfb2;
}

.slider-navigation .nav-btn:not(:last-child) {
    margin-right: 20px;
}

.slider-navigation .nav-btn:hover {
    transform: scale(1.2);
}

.image-slide {
    display: none;
    position: absolute;
    width: 100%;
}

.image-slide.active {
    display: block;
}

#product1 {
    width: 100%;
    height: 100vh;
    text-align: center;
}

#product1 h2 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
    margin-top: -5rem;
}

#product1 .pro-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#product1 .pro {
    width: 30%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    transition: 0.2s ease;
    margin: 20px 0;
    position: relative;
}

#product1 .pro:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
    transform: scale(1.1);
}

#product1 .pro img {
    width: 100%;
    border-radius: 20px;
}

#product1 .pro .des {
    text-align: start;
    padding: 10px 0;
}

#product1 .pro .des span {
    color: #606063;
    font-size: 12px;
}

#product1 .pro .des h5 {
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}

#product1 .pro .des h4 {
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
}

#product2 {
    width: 100%;
    height: 100vh;
    text-align: center;
}

#product2 h2 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
    margin-top: -5rem;
}

#product2 .pro-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#product2 .pro {
    width: 30%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    transition: 0.2s ease;
    margin: 20px 0;
    position: relative;
}

#product2 .pro:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
    transform: scale(1.1);
}

#product2 .pro img {
    width: 100%;
    border-radius: 20px;
}

#product2 .pro .des {
    text-align: start;
    padding: 10px 0;
}

#product2 .pro .des span {
    color: #606063;
    font-size: 12px;
}

#product2 .pro .des h5 {
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}

#product2 .pro .des h4 {
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
}

#newsletter .chatbtn {
    margin-top: 2rem;
}

#newsletter .chatbtn a {
    padding: 10px 20px;
    background: #fff;
    color: #1680ac;
    font-size: 1.1em;
    font-weight: 500;
    text-decoration: none;
    border-radius: 2px;
}

#mobile {
    display: none;
    align-items: center;
}

#close {
    display: none;
}

.close-btn {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 1.5em;
    cursor: pointer;
    display: none;
}

#newsletter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: #041e42;
}

#newsletter h4 {
    font-size: 22px;
    font-weight: 700;
    color: #fff;
}

#newsletter p {
    font-size: 14px;
    font-weight: 600;
    color: #818ea0;
}

#newsletter .form {
    display: flex;
    width: 40%;
}

#newsletter p span {
    color: #ffbd27;
}

footer {
    position: static;
    bottom: 0;
    text-align: center;
    line-height: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: rgb(147, 147, 147);
    color: #fff;
    overflow: hidden;
}

footer .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
    padding: 0 1rem;
}

footer .col a:hover {
    color: #041e42;
}

footer .logo {
    width: 12rem;
}

footer h4 {
    font-size: 14px;
}

footer a {
    font-size: 13px;
    color: #fff;
    margin-bottom: 10px;
}

footer .follow {
    margin-top: 20px;
}

footer .follow i {
    font-size: 20px;
    color: #fff;
    padding-right: 4px;
    cursor: pointer;
    transition: .2s;
}

footer .follow i:hover {
    transform: scale(1.5);
}

footer .copyright {
    width: 100%;
    text-align: center;
}

footer .top {
    font-weight: bold;
    transition: .2s;
}

footer .top:hover {
    transform: scale(1.1);
}

.loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

@media (max-width: 1040px) {
    .close-btn {
        display: block;
    }

    header {
        padding: 10px 20px;
    }

    section {
        padding: 100px 20px;
    }

    header .navigation {
        display: none;
    }

    header .navigation.active {
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(1, 1, 1, 0.5);
    }

    header .navigation .navigation-items a {
        color: #222;
        font-size: 1em;
        margin: 15px;
    }

    header .navigation .navigation-items a:before {
        background: #222;
        height: 5px;
    }

    header .navigation.active .navigation-items {
        background: #fff;
        width: 250px;
        max-width: 300px;
        margin: 20px 0 120px 0;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 5px;
        box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
    }

    .menu-btn {
        background: url(https://github.com/InnocentBoy-007/NIELIT-Diary/blob/main/menu-regular-24.png?raw=true)no-repeat;
        background-size: 30px;
        background-position: center;
        color: #fff;
        width: 40px;
        height: 40px;
        cursor: pointer;
        transition: 0.3s ease;
    }

    .menu-btn.active {
        z-index: 999;
        background: url(https://github.com/InnocentBoy-007/NIELIT-Diary/blob/main/window-close-regular-24.png?raw=true)no-repeat;
        background-size: 25px;
        background-position: center;
        transition: 0.3s ease;
    }


}

@media (max-width: 799px) {
    .home .content h1 {
        font-size: 2rem;
        line-height: 2rem;
    }

    .home .content p {
        font-size: 0.8rem;
    }

    .home .content a {
        padding: 15px 25px;
    }

    .home .content {
        margin-top: 1px;
    }

    #product1 h2 {
        font-size: 30px;
        line-height: 30px;
        padding-bottom: 1rem;
    }

    #product2 h2 {
        font-size: 30px;
        line-height: 30px;
        padding-bottom: 1rem;
    }

    #product3 h2 {
        font-size: 30px;
        line-height: 30px;
        padding-bottom: 1rem;
    }

    #product4 h2 {
        font-size: 30px;
        line-height: 30px;
        padding-bottom: 1rem;
    }

    #product5 h2 {
        font-size: 30px;
        line-height: 30px;
        padding-bottom: 1rem;
    }

    #product1 .pro-container {
        justify-content: center;
    }

    #product2 .pro-container {
        justify-content: center;
    }

    #product3 .pro-container {
        justify-content: center;
    }

    #product4 .pro-container {
        justify-content: center;
    }

    #product5 .pro-container {
        justify-content: center;
    }

    #product1 .pro {
        width: 100%;
    }

    #product2 .pro {
        width: 100%;
    }

    #product3 .pro {
        width: 100%;
    }

    #product4 .pro {
        width: 100%;
    }

    #product5 .pro {
        width: 100%;
    }

    #newsletter {
        padding: 50px 20px;
    }

    #newsletter h4 {
        font-size: 1rem;
    }

    #newsletter p {
        font-size: 10px;
    }

    footer {
        line-height: 30px;
    }

    footer .logo {
        width: 8rem;
    }

}

@media (max-width: 799px) {
    .home .content h1 {
        font-size: 1.5rem;
    }
}
